{% extends 'base.html' %}

{% block title %}{{ therapy.id }}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card font-weight-normal mt-2">
        <div class="card-header nhs-blue-text">
            Patient: {{ therapy.patient }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item pl-3">Therapy ID: {{ therapy.id }}</li>
          <li class="list-group-item pl-3">Therapist: {{ therapy.therapist }}</li>
          <li class="list-group-item pl-3">
              <strong>Details:</strong><br>
              Therapy contained rehab: {{ therapy.rehab }}<br>
              Direct Assessment Type: {{ therapy.direct_input }}<br>
              Direct Duration: {% if therapy.direct_input %}{{ therapy.direct_time }} mins.{% endif %}<br>
              Indirect Assessment Type: {{ therapy.indirect_input }}<br>
              Indirect Duration: {% if therapy.direct_input %}{{ therapy.direct_time }} mins.{% endif %}<br>
          </li>
          <a class="list-group-item pl-3 btn btn-outline-success text-left" href="{% url 'OPAL:patient_single' id=therapy.patient.id %}">View Patient</a>
          {% if request.user.is_staff %}
          <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{% url 'OPAL:therapist_single' id=therapy.therapist.id %}">View Therapist</a>
          <a class="list-group-item pl-3 btn btn-outline-warning text-left" href="{% url 'OPAL:therapy_edit' id=therapy.id %}">Edit Therapy</a>
          <form action= "{% url 'OPAL:therapy_delete' id=therapy.id %}" method="delete">
            {% csrf_token %}
            <button style="width:100%;" type="submit" class="list-group-item pl-3 btn btn-outline-danger text-left" onclick="return confirm('Are you sure you want to delete this?')">Delete Therapy</button>
          </form>
          {% endif %}
        </ul>
    </div>
</div>
{% endblock %}