{% extends 'base.html' %}

{% block title %}{{ therapy.id }}{% endblock %}

{% block content %}
    <h1>{{ therapy.id }}</h1>
    <h1>{{ therapy.patient.firstname }}</h1>
    <p>{{ therapy.therapist.firstname }}</p>
    <p>{{ therapy.rehab }}</p>
    {% if therapy.direct_input %}
        <p>Direct Assessment Type: {{ therapy.direct_input }}</p>
        <p>Duration: {{ therapy.direct_time }}</p>
    {% elif therapy.indirect_input %}
        <p>Indirect Assessment Type: {{ therapy.indirect_input }}</p>
        <p>Duration: {{ therapy.indirect_time }}</p>
    {% else %}
        <h5>No further information</h5>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'OPAL:patient_single' id=therapy.patient.id %}">View Patient</a>
    <a class="btn btn-success" href="{% url 'OPAL:therapist_single' id=therapy.therapist.id %}">View Therapist</a>
    {% if request.user.is_staff %}
        <form action="{% url 'OPAL:therapy_delete' id=therapy.id %}" method="DELETE">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Therapy</button>
        </form>
        <a class="btn btn-info" href="{% url 'OPAL:therapy_edit' id=therapy.id %}">Edit Therapy</a>
    {% endif %}
{% endblock %}