{% extends 'base.html' %}

{% block title %}Therapist{% endblock %}

{% block content %}
    {% for therapist in therapist %}
        <h1>{{ therapist.firstname }}</h1>
        <a class="btn btn-info" href="{% url 'therapist_single' id=therapist.id %}">View More?</a>
        <form action="{% url 'therapist_delete' id=therapist.id %}" method="delete">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Therapist</button>
        </form>
    {% endfor %}
{% endblock %}