{% extends 'base.html' %}

{% block title %}Select Area{% endblock %}

{% block content %}

<div class="card m-5 font-weight-normal">
    <div class="card-header nhs-blue-text">
      Patients
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'OPAL:patient_create' %}">Insert a Patient</a></li>
      <li class="list-group-item"><a href="{% url 'OPAL:patient_list' %}">Find a Patient</a></li>
    </ul>
</div>
<div class="card m-5 font-weight-normal">
    <div class="card-header nhs-blue-text">
      Therapists
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'OPAL:therapist_create' %}">Insert a Therapist</a></li>
      <li class="list-group-item"><a href="{% url 'OPAL:therapist_list' %}">Find a Therapist</a></li>
    </ul>
</div>
<div class="card m-5 font-weight-normal">
    <div class="card-header nhs-blue-text">
      Therapies
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'OPAL:therapy_list' %}">Find a Therapy</a></li>
    </ul>
</div>
{% endblock %}