{% extends 'base.html' %}

{% block title %}{{ patient }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card font-weight-normal">
        <div class="card-header nhs-blue-text">
        {{ patient }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item pl-3">Direct Average Time: {{ direct_average }}</li>
          <li class="list-group-item pl-3">Indirect Average Time: {{ indirect_average }}</li>
          <li class="list-group-item pl-3">
              <strong>Personal Information:</strong><br>
              Hospital Number: {{ patient.hospital_number }}<br>
              Date of Birth: {{ patient.date_of_birth }}<br>
              Postcode: {{ patient.postcode }}<br>
              Locality: {{ patient.locality }}
          </li>


          {% if request.user.is_staff %}
          <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{% url 'OPAL:therapy_list_patient' id=patient.id %}">List of Previous Therapies</a>
          <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{% url 'services:service_options' id=patient.id %}">Services</a>
          <a class="list-group-item pl-3 btn btn-outline-warning text-left" href="{% url 'OPAL:patient_edit' id=patient.id %}">Edit Patient</a>
          <form action= "{% url 'OPAL:patient_delete' id=patient.id %}" method="delete">
            {% csrf_token %}
            <button style="width:100%;" type="submit" class="list-group-item pl-3 btn btn-outline-danger text-left">Delete Patient</button>
          </form>
          {% endif %}
        </ul>
    </div>
</div>
{% endblock %}