{% extends 'base.html' %}

{% block title %}D2A{% endblock %}

{% block content %}
<div class="container">
    <h3 style="border-bottom:2px solid #CCC;">D2A for: {{patient.first_name}} {{ patient.surname }}</h3>
    {% for D2A in D2As %}
    <div style="border-bottom:2px solid #CCC;">
        <h5>Therapist Completing D2A: <strong>{{ D2A.therapist_completing_d2a }}</strong></h5>
        <h5>D2A Completion Date: {{ D2A.D2A_completion_date }}</h5>  
    </div>
    {% endfor %}
</div>
{% endblock %}